body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style-type: none;   
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.2rem;
    background-image: url(img/minecraftgrass.jpg)
    
}
h4{
    color: white;
 -webkit-text-stroke-color: black;
 -webkit-text-stroke-width: 1px;
}
h1{
    text-align: center;
    color: white;
 -webkit-text-stroke-color: black;
 -webkit-text-stroke-width: 1px;
    background-image: url(img/minecraftgrass.jpg);
    padding: 10px
    ;
    
}
a{
    text-decoration: none;
    color: #fff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-size: larger;
}
.header{
    background-image: url("img/minecraftgrass.jpg");
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: -2%;
}
.menu{
    display: flex;
  
}
.menu li{
    margin-left: 20px;
 
}
.menu a{
    display: block;
    background-image: url("img/mineterra.jpg");
    
    
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-image: url(img/mineterra.jpg);
}
.item{
    background-color: #575353;
    color: #fff;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    background-image: url(img/minecraftgrass.jpg);
    border-image: url(img/R.png);
       height:  459px;
    border: solid 2px;
}
img{
    width: 295px;
    height: 180px;

}
p{  
    text-align: center;
    font-family: Agbalumo;
color: #fff;
text-shadow: #575353;
padding: 1%;
}
.logo{
    border-radius: 100%;
    width: 90px;
    height: auto;
}

